<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">home</a></li>
    <li><a ng-href="#/admin">admin</a></li>
    <li class="active"><a ng-href="#/cart">shop</a></li>
    <li><a ng-href="#/blog">blog</a></li>
   
  </ul>
  <h3 class="text-muted">blog & buy handmade jewelry</h3>
</div>



<div data-ng-repeat="bauble in baubles">

    
      
        <h4>{{bauble.name | uppercase}}</h4> 
        <img ng-src="{{bauble.img1}}"></img>
        <h5>{{bauble.price | currency}}</h5>
        <div> <a href="#/bauble/{{bauble._id}}/edit">Edit</a> | <a href="#/bauble/{{bauble._id}}/delete">Delete</a>
         </div> 
<div ng-controller="CollapseDemoCtrl">
  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View More!</button>
  <hr>
  <div collapse="isCollapsed">
    <div class="well well-lg">

        <div ng-controller="ViewsCtrl as tab">
            <ul class="tabs">
              <li ng-class"{active:tab.isSelected(0)}"><a href ng-click="tab.selectTab(0)">See Another View</a></li>
              <li ng-class"{active:tab.isSelected(1)}"><a href ng-click="tab.selectTab(1)">See Another View</a></li>
              <li ng-class"{active:tab.isSelected(2)}"><a href ng-click="tab.selectTab(2)">Read Description</a></li>
            </ul>
            <div class="tabsView" ng-show="tab.isSelected(0)"><img ng-src="{{bauble.img2}}"></img>
            </div>
            <div class="tabsView" ng-show="tab.isSelected(1)"><img ng-src="{{bauble.img3}}"></img>
            </div>
            <div class="tabsView" ng-show="tab.isSelected(2)"><h6>{{bauble.description}}</h6>
            </div>
        </div>
      </div>  
  </div>       
      

        </div>
</div>