<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">home</a></li>
    <li><a ng-href="#/admin">admin</a></li>
    <li class="active"><a ng-href="#/cart">shop</a></li>
    <li><a ng-href="#/blog">blog</a></li>
   
  </ul>
  <h3 class="text-muted">blog & buy handmade jewelry</h3>
</div>
<a ng-href="#/add"><button class="btn btn-success pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Check Out</button></a>
<div data-ng-repeat="bauble in baubles">
    
        
        <h4>{{bauble.name | uppercase}}</h4> 
        <img ng-src="{{bauble.img1}}"></img>
        <h5>{{bauble.price | currency}}</h5>

        <div ng-controller="ViewsCtrl as tab">
            <ul class="tabs">
              <li ng-class"{active:tab.isSelected(1)}"><a href ng-click="tab.selectTab(1)">See Another View</a></li>
              <li ng-class"{active:tab.isSelected(2)}"><a href ng-click="tab.selectTab(2)">See Another View</a></li>
              <li ng-class"{active:tab.isSelected(3)}"><a href ng-click="tab.selectTab(3)">Read Description</a></li>
            </ul>
            <div class="tabsView" ng-show="tab.isSelected(1)"><img ng-src="{{bauble.img2}}"></img>
            </div>
            <div class="tabsView" ng-show="tab.isSelected(2)"><img ng-src="{{bauble.img3}}"></img>
            </div>
            <div class="tabsView" ng-show="tab.isSelected(3)"><h6>{{bauble.description}}</h6>
            </div>
        </div>
               
      <div ng-controller="CartCtrl">
        <p>Quantity</p>
        <input type="number" ng-model="bauble.quantity">
        <button data-ng-click="addedBauble(bauble)" class="btn btn-success">Add to Cart</button>
      </div>

        
</div>
<a ng-href="#/add"><button class="btn btn-success pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Check Out</button></a>

