<div ng-controller="PopoverDemoCtrl">
	<my-directive></my-directive>
	<div class="row">
		<div class="col-lg-12">
			<input type="text" placeholder="add item name" data-ng-model="bauble.name">
			<input type="text" placeholder="add image" popover="add the path to your bauble here!"  popover-trigger="focus" data-ng-model="bauble.img1">
			<input type="text" placeholder="add image" popover="add the path to your bauble here!"  popover-trigger="focus"data-ng-model="bauble.img2">
			<input type="text" placeholder="add image" popover="add the path to your bauble here!"  popover-trigger="focus"data-ng-model="bauble.img3">
			<textarea placeholder="add description" cols="35" rows="2" data-ng-model="bauble.description"></textarea>
			<input type="text" placeholder="add item price" popover="just enter numbers; no $ required!"  popover-trigger="focus" data-ng-model="bauble.price">
			<button data-ng-click="newBauble(bauble)">Add Item</button>
		</div>

	</div>
</div>